.haikei {
    background-image: url("../images/IMG_0355.webp");
    background-size: cover;
    width: 100%;
    height: 920px;
}

.chou {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.tamas {
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 60px;
    background-color: #6ff163
}

.ageha {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: 45px;
    padding-top: 45px;
}

.breadcrumb {
    margin: 0;
    padding: 10px;
    list-style: none;
}

.breadcrumb li {
    position: relative;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    margin-right: 0.8em;
}

.breadcrumb li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border-style: solid;
    border-color: aqua;
    border-left-color: #aedfc6;
    border-width: 14px 12px;
    width: 0;
    height: 0;
}

.breadcrumb li a {
    display: inline-block;
    padding: 0 3px 0 7px;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #747772;
    background: #aedfc6;
    font-size: 13px;
}

.breadcrumb li a:hover {
    color: #FFF;
}

.box {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    color: #000000;
    text-align: center;
    margin: auto;
    font-size: 30px;
}

.rion {
    vertical-align: bottom;
}

img.rion1 {
    width: 100%;
    height: 305px;
    object-fit: cover;
}
.haikei1{
    background-image: url(../images/IMG_0364.webp);
    background-size: cover;
    width: 100%;
    height: 1200px;
}
.tyfw{
    text-align: center;
    color: aqua;
    font-size: 40px;
}
body{
    background-color: #6ff163;
}
.maps{
    text-align: center;
    margin: auto;
}